[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon="/var/lib/curso-linux/videos/1-conectando-internet.mp4.png"
Comment="Aprenda como conectar a internet sem fio"
Exec=xdg-open "/var/lib/curso-linux/videos/1-conectando-internet.mp4"
Name="Conectando a internet"