
[Desktop Entry]
Type=Application
Exec=/var/lib/curso-linux/curso-linux
Name=Aulas
Icon=/var/lib/curso-linux/videos/curso-linux.png
Terminal=false
Categories=Internet;Network;
