
[Desktop Entry]
Type=Application
Exec=/var/lib/curso-linux/curso-linux
Name=Aulas
Icon=default-folder-video2.svg
Terminal=false
Categories=Internet;Network;
